.topSongsContainer {
  display: flex;
  flex-direction: column;
  background: var(--color-panel-gray);
  border: var(--border-size-md) solid var(--color-panel-border);
  border-radius: var(--border-radius-md);
  max-width: 40rem;
  min-width: 0;
}

.topSongsTitle {
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-weight: 500;
  padding: var(--spacing-md);
  border-bottom: var(--border-size-sm) solid var(--color-panel-border);
}

.topSongsList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding: var(--spacing-md);
}

.topSongItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  cursor: pointer;
  min-width: 0;
  gap: var(--spacing-lg);
  background: var(--color-panel-gray);
  border-radius: var(--border-radius-sm);
}

.topSongItem:hover .topSongTitle {
  color: var(--color-accent);
}

.topSongLeft {
  display: flex;
  align-items: center;
  gap: var(--spacing-sd);
  min-width: 0;
  flex: 1;
}

.topSongImage {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: var(--border-radius-xs);
  object-fit: cover;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  box-shadow: var(--shadow-sm);
}

.topSongInfo {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xsd);
  min-width: 0;
  flex: 1;
  overflow: hidden;
}

.topSongTitle {
  font-size: var(--font-size-md);
  color: var(--color-white);
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  transition: color var(--transition-speed) ease;
}

.topSongDate {
  font-size: var(--font-size-sm);
  color: var(--color-text-gray);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.topSongStreams {
  font-size: var(--font-size-xs);
  color: var(--color-white-alt);
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex-shrink: 0;
}

.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20rem;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-gray);
  font-size: var(--font-size-sm);
  min-height: 20rem;
}
