.albumContainer {
  display: flex;
  gap: var(--spacing-lg);
  flex: 1;
  padding: var(--spacing-lg);
  background: var(--container-gradient-bg);
  box-shadow: var(--shadow-sd);
  border-radius: var(--border-radius-sm);
  overflow: hidden;
  align-items: center;
}

.coverImage {
  width: var(--container-image-size);
  height: var(--container-image-size);
  border-radius: var(--border-radius-sm);
  object-fit: cover;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  box-shadow: var(--shadow-sd);
  transition: box-shadow var(--transition-speed) ease;
}

.coverImage:hover {
  box-shadow: var(--shadow-sd-hover);
}

.coverImageClickable {
  cursor: pointer;
}

.albumRight {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-sm) 0;
  gap: var(--spacing-md);
  flex: 1;
}

.albumInfoContainer {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.infoArtist {
  font-size: var(--font-size-xl);
  color: var(--color-text-gray-light) !important;
  font-weight: 500;
  cursor: pointer;
}

.infoArtist:hover {
  color: var(--color-white) !important;
}

.albumTitle {
  font-size: var(--font-size-container-title);
  color: var(--color-white);
  font-weight: 700;
}

.infoArtist,
.albumTitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
}

.statsContainer {
  padding-top: var(--spacing-sm);
  display: flex;
  align-items: center;
  gap: var(--spacing-lg);
  color: var(--color-text-gray) !important;
}

.albumStat {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  font-size: var(--font-size-md);
}

.statText {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}
