.userInfoLayout {
  display: flex;
  flex-direction: column;
  gap: var(--layout-gap-ver);
}

.headerContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.backLink {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  color: var(--color-text-gray) !important;
  font-size: var(--font-size-sm);
  text-decoration: underline;
  transition: color var(--transition-speed) ease-in-out;
  width: fit-content;
}

.backLink:hover {
  color: var(--color-white) !important;
}

.userInfoHeader {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--spacing-lg);
  flex: 1;
  padding: var(--spacing-lg);
  background: var(--container-gradient-bg);
  box-shadow: var(--shadow-sd);
  border-radius: var(--border-radius-sm);
  overflow: hidden;
  min-width: 0;
}

.userInfoHeader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    65deg,
    var(--cover-gradient-color1) 0%,
    var(--cover-gradient-color2) 15%,
    transparent 35%
  );
  pointer-events: none;
  border-radius: var(--border-radius-sm);
}

.userImage {
  width: var(--container-image-size-sm);
  height: var(--container-image-size-sm);
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  box-shadow: var(--shadow-sd);
  transition: box-shadow var(--transition-speed) ease;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  flex: 1;
}

.userInfoTitle {
  font-size: var(--font-size-container-title-sm);
  color: var(--color-white);
  font-weight: 600;
}

.infoSection {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.switcherContainer {
  display: flex;
  gap: var(--spacing-lg);
  align-items: center;
}

.switcherButton {
  font-family: var(--font-main);
  border: none;
  background: none;
  color: var(--color-white);
  font-size: var(--font-size-md);
  font-weight: 500;
  transition: all var(--transition-speed) ease-in-out;
  cursor: pointer;
}

.switcherButton:hover {
  color: var(--color-accent);
  text-decoration: underline;
}

.switcherButtonActive {
  color: var(--color-accent);
  text-decoration: underline;
}

.switcherButtonActive:hover {
  color: var(--color-accent-800) !important;
  text-decoration: none !important;
}
