.sectionHeader {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.viewMoreLink {
  font-size: var(--font-size-sm);
  color: var(--color-text-gray) !important;
  text-decoration: none;
  transition: color var(--transition-speed) ease;
}

.viewMoreLink:hover {
  color: var(--color-white) !important;
}

.sectionTitle {
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  min-width: 0;
  width: 100%;
}

.chartContainer {
  background-color: var(--color-panel-gray);
  border-radius: var(--border-radius-md);
  border: var(--border-size-md) solid var(--color-panel-border);
  padding: var(--spacing-md) var(--spacing-md) var(--spacing-md) 0;
  width: 100%;
  height: 32rem;
  /* flex: 0; */
}

.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

.error {
  text-align: center;
  color: var(--color-text-gray);
  font-size: var(--font-size-sm);
  padding: var(--spacing-lg);
  background: var(--container-gradient-bg);
  border-radius: var(--border-radius-md);
}

.noDataContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-lg);
  background: var(--container-gradient-bg);
  border-radius: var(--border-radius-md);
  min-height: 300px;
}

.noDataMessage {
  color: var(--color-text-gray);
  font-size: var(--font-size-sm);
}
