* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 1rem = 10px */
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden;
}

/* Links */
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

input:focus {
  outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
