.settingsImageUploadGroup {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.settingsImageUploadLabel {
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-text-gray);
}

.settingsImageUploadArea {
  display: flex;
  align-items: center;
  gap: var(--spacing-lg);
}

.settingsImagePreview {
  width: 8rem;
  height: 8rem;
  border-radius: var(--border-radius-sm);
  overflow: hidden;
  border: var(--border-size-sm) solid var(--color-panel-border);
  background: var(--background-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.settingsImageButton {
  font-family: var(--font-main);
  background-color: var(--color-panel-gray);
  border-radius: var(--border-radius-sm);
  border: var(--border-size-sm) solid var(--color-panel-border);
  color: var(--color-white);
  cursor: pointer;
  font-size: var(--font-size-sm);
  padding: 1.2rem 1.8rem;
  transition: color var(--transition-speed) ease-in-out,
    background-color var(--transition-speed) ease-in-out,
    border-color var(--transition-speed) ease-in-out;
}

.settingsImageButton:hover:not(:disabled) {
  color: var(--color-accent);
  background-color: var(--color-panel-gray-dark);
  border-color: var(--color-panel-gray-dark);
}

.settingsImageButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.settingsImageRemoveButton {
  font-family: var(--font-main);
  background-color: var(--color-panel-gray);
  border-radius: var(--border-radius-sm);
  border: var(--border-size-sm) solid var(--color-panel-border);
  color: var(--color-white);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-sm);
  padding: 1.2rem;
  transition: color var(--transition-speed) ease-in-out,
    background-color var(--transition-speed) ease-in-out,
    border-color var(--transition-speed) ease-in-out;
}

.settingsImageRemoveButton:hover:not(:disabled) {
  color: var(--color-accent);
  background-color: var(--color-panel-gray-dark);
  border-color: var(--color-panel-gray-dark);
}

.settingsImageRemoveButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.settingsImageHint {
  font-size: var(--font-size-xs);
  color: var(--color-text-gray);
  font-style: italic;
}

.hiddenInput {
  display: none;
}
