.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  min-height: var(--loader-height-md);
  background: var(--color-panel-gray);
  border: var(--border-size-md) solid var(--color-panel-border);
  border-radius: var(--border-radius-md);
  width: 100%;
}

.errorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  min-height: var(--loader-height-md);
  background: var(--color-panel-gray);
  border: var(--border-size-md) solid var(--color-panel-border);
  border-radius: var(--border-radius-md);
  width: 100%;
}

.errorText {
  font-size: var(--font-size-sm);
  color: var(--color-text-gray);
}

.barChartContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.barChartTop {
  display: flex;
  gap: var(--spacing-md);
  justify-content: space-between;
}

.barChartTitle {
  color: var(--color-white);
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.barChartTitleText {
  font-size: var(--font-size-xl);
}

.barChartIcon {
  font-size: var(--icon-size-xl);
}

.barChartIconUp {
  color: var(--color-green-ui);
}

.barChartIconDown {
  color: var(--color-red-ui);
}

.dateRangeContainer {
  display: flex;
  gap: var(--spacing-md);
  align-items: center;
}

.dateRangeButton {
  font-family: var(--font-main);
  background: var(--color-panel-gray-dark);
  border: var(--border-size-sm) solid var(--color-panel-border);
  border-radius: var(--border-radius-sm);
  padding: var(--spacing-sm) var(--spacing-md);
  color: var(--color-white-alt);
  font-size: var(--font-size-sm);
  font-weight: 500;
  cursor: pointer;
  transition: all var(--transition-speed) ease;
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  white-space: nowrap;
  flex-shrink: 0;
}

.dateRangeButton:hover {
  border-color: var(--color-gray-button-border);
  background-color: var(--color-panel-gray-hover);
}

.dateRangeButtonActive {
  border-color: var(--color-gray-button-border);
  background-color: var(--color-panel-gray-hover);
}

.barChart {
  background-color: var(--color-panel-gray-dark);
  border-radius: var(--border-radius-md);
  border: var(--border-size-sm) solid var(--color-panel-border);
  padding: var(--spacing-md) var(--spacing-md) var(--spacing-md) 0;
  width: 100%;
  height: 52rem;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.barChartNumbers {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  align-self: flex-end;
  padding-right: var(--spacing-xl);
  padding-top: var(--spacing-md);
}

.barChartNumber {
  font-size: var(--font-size-md);
  color: var(--color-white-alt);
}
