.errorPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 70vh;
  width: 100%;
  gap: var(--spacing-sm);
}

.errorIcon {
  font-size: var(--icon-size-2xl);
  color: var(--color-red);
}

.errorTitle {
  font-size: var(--font-size-2xl);
  font-weight: 600;
}

.errorMessage {
  font-size: var(--font-size-lg);
  max-width: 60rem;
  line-height: 1.5;
  color: var(--color-text-gray);
}

.statusCode {
  font-size: var(--font-size-md);
  color: var(--color-text-gray);
}

.homeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
  padding: var(--spacing-md);
  background-color: var(--color-red);
  color: var(--color-white);
  border: none;
  border-radius: var(--border-radius-sm);
  font-family: "Inter", sans-serif;
  font-size: var(--font-size-sm);
  cursor: pointer;
  transition: background-color var(--transition-speed) ease-in-out;
}

.homeButton:hover:not(:disabled) {
  background-color: var(--color-red-700);
}

.homeButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
