.libraryLayout {
  display: flex;
  flex-direction: column;
  gap: var(--layout-gap-ver);
  min-height: 100%;
  position: relative;
}

.libraryTitle {
  font-size: var(--font-size-2xl);
  color: var(--color-white);
  font-weight: 700;
}

.createPlaylistButton {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
  background: var(--color-red);
  border-radius: var(--border-radius-sm);
  border: none;
  color: var(--color-red-200);
  cursor: pointer;
  font-size: var(--font-size-sm);
  padding: var(--spacing-sm) var(--spacing-md);
  transition: all var(--transition-speed) ease-in-out;
}

.createPlaylistButton:hover {
  background-color: var(--color-red-800);
  color: var(--color-red-300);
}

.libraryActions {
  display: flex;
  gap: var(--spacing-md);
  justify-content: space-between;
  align-items: center;
}

.switcherContainer {
  display: flex;
  gap: var(--spacing-xl);
  align-items: center;
}

.librarySwitcherButton {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  border: none;
  background: none;
  color: var(--color-white);
  font-size: var(--font-size-md);
  font-weight: 500;
  transition: all var(--transition-speed) ease-in-out;
  cursor: pointer;
}

.librarySwitcherButton:hover {
  color: var(--color-red);
  text-decoration: underline;
}

.librarySwitcherButtonActive {
  color: var(--color-red);
  text-decoration: underline;
}

.libraryActionsRight {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.searchContainer {
  background-color: var(--color-panel-gray);
  border-radius: var(--border-radius-md);
  border: 2px solid var(--color-panel-border);
  position: relative;
  display: flex;
  align-items: center;
}

.searchIcon {
  position: absolute;
  left: var(--spacing-sm);
  font-size: var(--icon-size-sm);
  color: var(--color-text-gray);
  pointer-events: none;
}

.searchInput {
  font-family: "Inter", sans-serif;
  padding: var(--spacing-sm) 3.2rem var(--spacing-sm) 3.5rem;
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius-md);
  color: var(--color-white);
  font-size: var(--font-size-sm);
  outline: none;
}

.searchInput::placeholder {
  color: var(--color-text-gray);
}

.searchClear {
  cursor: pointer;
  font-size: var(--icon-size-sm);
  color: var(--color-text-gray);
  position: absolute;
  right: var(--spacing-sm);
  transition: color var(--transition-speed) ease-in-out;
}

.searchClear:hover {
  color: var(--color-white);
}

.historyLink {
  font-size: var(--font-size-sm);
  color: var(--color-text-gray) !important;
  text-align: center;
  transition: color var(--transition-speed) ease-in-out;
  margin-top: auto;
}

.historyLink:hover {
  color: var(--color-white) !important;
}
