.adLayout {
  display: flex;
  flex-direction: column;
  gap: var(--layout-gap-ver);
  min-height: 100%;
  position: relative;
}

.adHeader {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-md);
  align-items: center;
}

.adTitle {
  font-size: var(--font-size-2xl);
  color: var(--color-white);
  font-weight: 700;
}

@keyframes shimmer {
  0% {
    background-position: -200% center;
  }
  100% {
    background-position: 200% center;
  }
}

.adHeaderButton {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  padding: var(--spacing-sm) var(--spacing-md);
  background: var(--color-panel-gray-dark);
  border: var(--border-size-sm) solid var(--color-panel-border);
  border-radius: var(--border-radius-sm);
  color: var(--color-white-alt) !important;
  font-size: var(--font-size-sm);
  transition: all var(--transition-speed) ease;
  position: relative;
  overflow: hidden;
}

.adHeaderButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent 0%,
    rgba(255, 255, 255, 0.05) 50%,
    transparent 100%
  );
  background-size: 200% 100%;
  animation: shimmer 15s ease-in-out infinite;
  pointer-events: none;
}

.adHeaderButton:hover {
  border-color: var(--color-gray-button-border);
  background-color: var(--color-panel-gray-hover);
}

.adHeaderButton:hover::before {
  animation: shimmer 5s ease-in-out infinite;
}

.sectionHeader {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.viewMoreLink {
  font-size: var(--font-size-sm);
  color: var(--color-text-gray) !important;
  text-decoration: none;
  transition: color var(--transition-speed) ease;
}

.viewMoreLink:hover {
  color: var(--color-white) !important;
}

.sectionTitle {
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  min-width: 0;
  width: 100%;
}

.contentAreaBottom {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: var(--layout-gap-hor);
  row-gap: var(--layout-gap-ver);
  min-height: 100%;
  min-width: 0;
}

.contentAreaBottomLeft {
  display: flex;
  flex-direction: column;
  gap: var(--layout-gap-ver);
  min-width: 0;
}

.contentAreaBottomRight {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  min-width: 0;
}
