.artistDiscographyLayout {
  display: flex;
  flex-direction: column;
  gap: var(--layout-gap-ver);
}

.headerContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.backLink {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  color: var(--color-text-gray) !important;
  font-size: var(--font-size-sm);
  text-decoration: underline;
  transition: color var(--transition-speed) ease-in-out;
  width: fit-content;
}

.backLink:hover {
  color: var(--color-white) !important;
}

.discoHeader {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--spacing-lg);
  flex: 1;
  padding: var(--spacing-lg);
  background: linear-gradient(to bottom, #181818, #0f0f0f);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: var(--border-radius-sm);
  overflow: hidden;
}

.discoHeader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    65deg,
    var(--cover-gradient-color1) 0%,
    var(--cover-gradient-color2) 15%,
    transparent 35%
  );
  pointer-events: none;
  border-radius: var(--border-radius-sm);
}

.artistImage {
  width: 24rem;
  height: 24rem;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: box-shadow var(--transition-speed) ease;
}

.artistImageClickable {
  cursor: pointer;
}

.artistImage:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.artistInfo {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  flex: 1;
}

.discoTitle {
  font-size: 4.2rem;
  color: var(--color-white);
  font-weight: 700;
}

.artistStats {
  display: flex;
  min-width: 0;
  gap: var(--spacing-sm);
}

.statItem {
  font-size: var(--font-size-lg);
  color: var(--color-text-gray-light);
  font-weight: 500;
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

.statsBullet {
  color: var(--color-text-gray-light);
  font-weight: 500;
}

.discoSection {
  display: flex;
  flex-direction: column;
  gap: var(--layout-gap-ver);
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  min-width: 0;
  width: 100%;
}

.sectionTitle {
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

.itemsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: var(--spacing-md);
}

.noDiscography {
  font-size: var(--font-size-md);
  color: var(--color-text-gray);
  font-weight: 500;
  padding: var(--spacing-lg);
  text-align: center;
}
