.kpiGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: var(--spacing-md);
}

.kpiCard {
  background-color: var(--color-panel-gray-dark);
  border: var(--border-size-sm) solid var(--color-panel-border);
  border-radius: var(--border-radius-md);
  padding: var(--spacing-md);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.loaderContainer,
.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10rem;
  background: var(--color-panel-gray-dark);
  border: var(--border-size-sm) solid var(--color-panel-border);
  border-radius: var(--border-radius-md);
}

.errorText {
  font-size: var(--font-size-sm);
  color: var(--color-red-ui);
}
