.songContainer {
  position: relative;
  display: flex;
  gap: var(--spacing-lg);
  flex: 1;
  padding: var(--spacing-lg);
  background: var(--container-gradient-bg);
  box-shadow: var(--shadow-sd);
  border-radius: var(--border-radius-sm);
  overflow: hidden;
}

.songContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    65deg,
    var(--cover-gradient-color1) 0%,
    var(--cover-gradient-color2) 15%,
    transparent 35%
  );
  pointer-events: none;
  border-radius: var(--border-radius-sm);
}

.coverImage {
  width: var(--container-image-size);
  height: var(--container-image-size);
  border-radius: var(--border-radius-sm);
  object-fit: cover;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  box-shadow: var(--shadow-sd);
  transition: box-shadow var(--transition-speed) ease;
}

.coverImageClickable {
  cursor: pointer;
}

.coverImage:hover {
  box-shadow: var(--shadow-sd-hover);
}

.songRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacing-sm) 0;
  gap: var(--spacing-md);
  flex: 1;
}

.songInfoContainer {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.artistName {
  font-size: var(--font-size-xl);
  color: var(--color-text-gray-light);
  font-weight: 500;
}

.artistNameLink {
  font-size: var(--font-size-xl);
  color: var(--color-text-gray-light) !important;
  font-weight: 500;
  cursor: pointer;
  transition: color var(--transition-speed) ease;
}

.artistNameLink:hover {
  color: var(--color-white) !important;
}

.songTitle {
  font-size: var(--font-size-container-title);
  color: var(--color-white);
  font-weight: 700;
}

.songTitle,
.artistName {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
}

.interactionsContainer {
  padding-top: var(--spacing-sm);
  display: flex;
  align-items: center;
  gap: var(--spacing-lg);
  color: var(--color-text-gray) !important;
}

.interactionStat {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  font-size: var(--font-size-md);
}

.interactionText {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

.songInfoWrapper {
  display: flex;
  gap: var(--spacing-md);
  justify-content: space-between;
}

.ownerButtonsContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  height: fit-content;
}

.ownerButton {
  background: none;
  border: none;
  color: var(--color-text-gray);
  font-size: var(--icon-size-sm);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--transition-speed) ease;
  height: fit-content;
}

.ownerButton:hover {
  color: var(--color-white);
}
