.songContainer {
  position: relative;
  display: flex;
  gap: var(--spacing-lg);
  flex: 1;
  padding: var(--spacing-lg);
  background: linear-gradient(to bottom, #181818, #0f0f0f);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: var(--border-radius-sm);
  overflow: hidden;
}

.songContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    65deg,
    var(--cover-gradient-color1) 0%,
    var(--cover-gradient-color2) 15%,
    transparent 35%
  );
  pointer-events: none;
  border-radius: var(--border-radius-sm);
}

.coverImage {
  width: 24rem;
  height: 24rem;
  border-radius: var(--border-radius-sm);
  object-fit: cover;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.songRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacing-sm) 0;
  gap: var(--spacing-md);
  flex: 1;
}

.songInfoContainer {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.artistName {
  font-size: 2.4rem;
  color: var(--color-text-gray-light);
  font-weight: 500;
}

.songTitle {
  font-size: 4.2rem;
  color: var(--color-white);
  font-weight: 700;
}

.songTitle,
.artistName {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
}

.interactionsContainer {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  gap: var(--spacing-lg);
  color: var(--color-text-gray) !important;
}

.interactionStat {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  font-size: var(--font-size-md);
}

.interactionText {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}
