.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  min-height: 15vh;
}

.error {
  text-align: center;
  color: var(--color-text-gray);
  font-size: var(--font-size-sm);
}

.relatedArtistsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  min-width: 0;
  width: 100%;
}

.sectionTitle {
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

.relatedArtistsList {
  display: flex;
  gap: var(--spacing-lg);
  min-width: 0;
  transition: transform 0.3s ease;
  width: max-content;
}

.relatedArtistItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-sm);
}

.relatedArtistImage {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: opacity var(--transition-speed) ease;
}

.relatedArtistImage:hover {
  opacity: 0.5;
}

.relatedArtistName {
  font-size: var(--font-size-md);
  color: var(--color-white);
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  cursor: pointer;
  transition: color var(--transition-speed) ease-in-out;
}

.relatedArtistName:hover {
  color: var(--color-red);
}
