.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  min-height: 15vh;
}

.error {
  text-align: center;
  color: var(--color-text-gray);
  font-size: var(--font-size-sm);
}

.relatedArtistsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  min-width: 0;
  width: 100%;
}

.sectionTitle {
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

.relatedArtistsList {
  display: flex;
  gap: var(--spacing-lg);
  justify-content: space-between;
  min-width: 0;
  transition: transform 0.3s ease;
  width: 100%;
  overflow-x: hidden;
}

@media (max-width: 1700px) {
  .relatedArtistsList .relatedArtistItem:last-child {
    display: none;
  }
}

@media (max-width: 1550px) {
  .relatedArtistsList .relatedArtistItem:nth-last-child(-n + 2) {
    display: none;
  }
}

@media (max-width: 1390px) {
  .relatedArtistsList .relatedArtistItem:nth-last-child(-n + 3) {
    display: none;
  }
}

@media (max-width: 1230px) {
  .relatedArtistsList .relatedArtistItem:nth-last-child(-n + 4) {
    display: none;
  }
}

@media (max-width: 1072px) {
  .relatedArtistsList .relatedArtistItem:nth-last-child(-n + 5) {
    display: none;
  }
}

@media (max-width: 915px) {
  .relatedArtistsList .relatedArtistItem:nth-last-child(-n + 6) {
    display: none;
  }
}

@media (max-width: 670px) {
  .relatedArtistsList .relatedArtistItem:nth-last-child(-n + 7) {
    display: none;
  }
}

@media (max-width: 512px) {
  .relatedArtistsList .relatedArtistItem:nth-last-child(-n + 8) {
    display: none;
  }
}

@media (max-width: 355px) {
  .relatedArtistsList .relatedArtistItem:nth-last-child(-n + 9) {
    display: none;
  }
}
