.libraryLayout {
  display: flex;
  flex-direction: column;
  gap: var(--layout-gap-ver);
  min-height: 100%;
  position: relative;
}

.libraryTitle {
  font-size: var(--font-size-2xl);
  color: var(--color-white);
  font-weight: 700;
}

.libraryActions {
  display: flex;
  gap: var(--spacing-md);
  justify-content: space-between;
  align-items: center;
}

.switcherContainer {
  display: flex;
  gap: var(--spacing-xl);
  align-items: center;
}

.librarySwitcherButton {
  font-family: var(--font-main);
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  border: none;
  background: none;
  color: var(--color-white);
  font-size: var(--font-size-md);
  font-weight: 500;
  transition: all var(--transition-speed) ease-in-out;
  cursor: pointer;
}

.librarySwitcherButton:hover {
  color: var(--color-accent);
  text-decoration: underline;
}

.librarySwitcherButtonActive {
  color: var(--color-accent);
  text-decoration: underline;
}

.searchContainer {
  background-color: var(--color-panel-gray);
  border-radius: var(--border-radius-md);
  border: var(--border-size-md) solid var(--color-panel-border);
  position: relative;
  display: flex;
  align-items: center;
}

.searchIcon {
  position: absolute;
  left: var(--spacing-sm);
  font-size: var(--icon-size-sm);
  color: var(--color-text-gray);
  pointer-events: none;
}

.searchInput {
  font-family: var(--font-main);
  padding: var(--spacing-sm) 3.2rem var(--spacing-sm) 3.5rem;
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius-md);
  color: var(--color-white);
  font-size: var(--font-size-sm);
  outline: none;
}

.searchInput::placeholder {
  color: var(--color-text-gray);
}

.searchClear {
  cursor: pointer;
  font-size: var(--icon-size-sm);
  color: var(--color-text-gray);
  position: absolute;
  right: var(--spacing-sm);
  transition: color var(--transition-speed) ease-in-out;
}

.searchClear:hover {
  color: var(--color-white);
}
