.commentsContainerTop {
  display: flex;
  gap: var(--spacing-md);
  align-items: center;
}

.commentUserPfp {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
}

.commentInputContainer {
  background-color: var(--color-panel-gray);
  border-radius: var(--border-radius-sm);
  border: var(--border-size-md) solid var(--color-panel-border);
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  transition: border-color var(--transition-speed) ease-in-out;
}

.commentInputContainer.overLimit {
  border-color: var(--color-accent);
}

.commentInput {
  font-family: var(--font-main);
  width: 95%;
  padding: var(--spacing-md);
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius-lg);
  color: var(--color-white);
  font-size: var(--font-size-sm);
  outline: none;
}

.commentInputCharCounter {
  width: 91% !important;
}

.commentInput::placeholder {
  color: var(--color-text-gray);
}

.charCounter {
  position: absolute;
  right: calc(
    var(--spacing-sm) * 2 + var(--icon-size-md) + var(--spacing-sm) * 2
  );
  font-size: var(--font-size-xs);
  color: var(--color-white-alt);
  padding: var(--spacing-2xs);
  border-radius: var(--border-radius-xs);
  user-select: none;
  pointer-events: none;
  transition: color var(--transition-speed) ease-in-out;
}

.charCounterOverLimit {
  color: var(--color-accent);
}

.commentButton {
  position: absolute;
  right: var(--spacing-sm);
  font-size: var(--icon-size-md);
  color: var(--color-text-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-accent);
  border-radius: var(--border-radius-sm);
  border: none;
  color: var(--color-accent-200);
  cursor: pointer;
  padding: var(--spacing-sm);
  transition: all var(--transition-speed) ease-in-out;
}

.commentButton:disabled {
  background-color: var(--color-accent-800);
  color: var(--color-accent-300);
  cursor: not-allowed;
}

.commentButton:not(:disabled):hover {
  background-color: var(--color-accent-800);
  color: var(--color-accent-300);
}

.measureSpan {
  position: absolute;
  visibility: hidden;
  white-space: pre;
  font-family: var(--font-main);
  font-size: var(--font-size-sm);
  padding: var(--spacing-md);
}
