.pageLayout {
  display: flex;
  flex-direction: column;
  gap: var(--layout-gap-ver);
  min-height: 100%;
}

.pageTitle {
  font-size: var(--font-size-2xl);
  color: var(--color-white);
  font-weight: 700;
}

.tabButton {
  font-family: var(--font-main);
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  border: none;
  background: none;
  color: var(--color-white);
  font-size: var(--font-size-md);
  font-weight: 500;
  transition: all var(--transition-speed) ease-in-out;
  cursor: pointer;
}

.tabButton:hover {
  color: var(--color-accent);
  text-decoration: underline;
}

.tabButtonActive {
  color: var(--color-accent);
  text-decoration: underline;
}

.tabsContainer {
  display: flex;
  gap: var(--spacing-xl);
  align-items: center;
}
