.artistCtaSection {
  display: flex;
  flex-direction: column;
  min-width: 0;
  width: 100%;
}

.artistCtaBanner {
  display: flex;
  gap: var(--spacing-lg);
  justify-content: space-between;
  flex: 1;
  padding: var(--spacing-xl);
  background: var(--color-panel-gray-dark);
  box-shadow: var(--shadow-sm);
  border-radius: var(--border-radius-md);
  border: var(--border-size-sm) solid var(--color-panel-border);
  overflow: hidden;
  position: relative;
}

.artistCtaBannerContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.artistCtaTextContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.artistCtaTitle {
  font-size: var(--font-size-lg);
  color: var(--color-white-alt);
  font-weight: 700;
}

.artistCtaDescription {
  font-size: var(--font-size-sm);
  color: var(--color-text-gray);
  line-height: var(--line-height-normal);
}

.artistCtaButton {
  font-family: var(--font-main);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-accent);
  border-radius: var(--border-radius-sm);
  border: none;
  color: var(--color-accent-200);
  cursor: pointer;
  font-size: var(--font-size-sm);
  font-weight: 500;
  padding: var(--spacing-sd) var(--spacing-md);
  transition: all var(--transition-speed) ease-in-out;
  width: fit-content;
}

.artistCtaButton:hover {
  background-color: var(--color-accent-800);
  color: var(--color-accent-300);
}

.artistCtaDismissButton {
  position: absolute;
  top: var(--spacing-lg);
  right: var(--spacing-lg);
  font-size: var(--icon-size-sm);
  color: var(--color-text-gray);
  background: transparent;
  border: none;
  cursor: pointer;
  transition: color var(--transition-speed) ease-in-out;
}

.artistCtaDismissButton:hover {
  color: var(--color-white-alt);
}
