.bannerSection {
  height: 100%;
  width: 100%;
  min-height: 30vh;
  max-height: 30vh;
  padding: 1em;
  background: linear-gradient(90deg, #ff3b30 0%, #ff6a4a 100%);
  border-radius: 8px;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-template-columns: 30% 70%;
}

.artistPFPDiv{
  width: fit-content;
  display: flex ;
  justify-content: center;
}

.artistPFP{
  max-width: 50%;
  clip-path: circle();
}


.artistName{
  font-size: 10rem;
}

.locationName{
  font-size: 3em;
}

.interHeading1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800; /*Extra Bold for Important Titles*/
  font-style: normal;
}

.interHeading2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500; /*Medium for subheadings ig*/
  font-style: normal;
}

.instrumentSansContent {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}