.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  min-height: var(--loader-height-sm);
  background: var(--color-panel-gray);
  border: var(--border-size-md) solid var(--color-panel-border);
  border-radius: var(--border-radius-md);
  width: 100%;
}

.errorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  min-height: var(--loader-height-sm);
  background: var(--color-panel-gray);
  border: var(--border-size-md) solid var(--color-panel-border);
  border-radius: var(--border-radius-md);
  width: 100%;
}

.errorText {
  font-size: var(--font-size-sm);
  color: var(--color-text-gray);
}

.topSongsChart {
  background-color: var(--color-panel-gray-dark);
  border-radius: var(--border-radius-md);
  border: var(--border-size-md) solid var(--color-panel-border);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  min-width: 0;
}

.topSongsChartTitle {
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-weight: 500;
  padding: var(--spacing-md);
  border-bottom: var(--border-size-sm) solid var(--color-panel-border);
}
