.error {
  text-align: center;
  color: var(--color-text-gray);
  font-size: var(--font-size-sm);
}

.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  min-height: 25vh;
}

.suggestionsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.suggestionsWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  min-width: 0;
  width: 100%;
}

.suggestionLabel {
  font-size: var(--font-size-md);
}

.suggestionsSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  min-width: 0;
}

.suggestionItem {
  display: flex;
  gap: var(--spacing-md);
  align-items: center;
}

.suggestionImage {
  width: 8rem;
  height: 8rem;
  border-radius: var(--border-radius-sm);
  object-fit: cover;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.suggestionInfo {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  min-width: 0;
  width: 100%;
}

.suggestionAuthor {
  font-size: var(--font-size-sm);
  color: var(--color-text-gray);
  font-weight: 500;
}

.suggestionTitle {
  font-size: var(--font-size-md);
  color: var(--color-white);
  font-weight: 500;
  transition: color var(--transition-speed) ease-in-out;
}

.suggestionTitle:hover {
  color: var(--color-red);
}

.suggestionSubtitle {
  font-size: var(--font-size-sm);
  color: var(--color-text-gray);
  font-weight: 500;
}
.suggestionAuthor,
.suggestionSubtitle,
.suggestionSubtitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
}
