.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  background: var(--color-panel-gray-dark);
  border: var(--border-size-sm) solid var(--color-panel-border);
  border-radius: var(--border-radius-md);
}
