.signupLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--color-black);
}

.signupContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 40rem;
  background-color: var(--color-panel-gray);
  border: 2px solid var(--color-panel-border);
  border-radius: var(--border-radius-md);
  padding: var(--spacing-xl);
  gap: var(--spacing-lg);
}

.signupHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);
}

.signupHeaderBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-sm);
}

.logo {
  width: var(--icon-size-2xl);
  height: var(--icon-size-2xl);
}

.title {
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--color-white);
}

.subtitle {
  font-size: var(--font-size-sm);
  color: var(--color-text-gray);
  text-align: center;
}

.signupForm {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.errorText {
  font-size: var(--font-size-xs);
  color: var(--color-red);
}

.serverError {
  display: flex;
  justify-content: center;
  padding: var(--spacing-md);
  background-color: #d531311a;
  border: 1px solid var(--color-red);
  border-radius: var(--border-radius-md);
}

.signupFooter {
  display: flex;
  justify-content: center;
}

.footerLink {
  font-size: var(--font-size-sm);
  color: var(--color-text-gray) !important;
  font-weight: 500;
  transition: color var(--transition-speed) ease-in-out;
}

.footerLink:hover {
  color: var(--color-red);
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.formLabel {
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-text-gray);
  padding-left: var(--spacing-2xs);
}

.select {
  font-family: "Inter", sans-serif;
  padding: 1.2rem;
  background-color: var(--color-panel-gray-dark);
  border: 2px solid var(--color-panel-border);
  border-radius: var(--border-radius-sm);
  color: var(--color-white);
  font-size: var(--font-size-sm);
  width: 100%;
  cursor: pointer;
}

.select:focus {
  outline: none;
}

.select:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.inputHintText {
  font-size: var(--font-size-xs);
  color: var(--color-text-gray);
  font-style: italic;
  padding-left: var(--spacing-2xs);
}
