.checkboxWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.customCheckbox {
  appearance: none;
  width: 2rem;
  height: 2rem;
  background: var(--color-panel-gray-dark);
  border: var(--border-size-sm) solid var(--color-panel-border);
  border-radius: 0.3rem;
  cursor: pointer;
  position: relative;
  transition: all var(--transition-speed) ease;
  flex-shrink: 0;
  margin: 0;
}

.customCheckbox:hover:not(:disabled) {
  border-color: var(--color-gray-button-border);
}

.customCheckbox:focus {
  outline: none;
  border-color: var(--color-gray-button-border);
}

.customCheckbox:checked {
  background: var(--color-gray-button);
  border-color: var(--color-gray-button-border);
}

.customCheckbox:checked::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0.35rem;
  height: 0.7rem;
  border: solid var(--color-white-alt);
  border-width: 0 2.5px 2.5px 0;
  transform: translate(-50%, -60%) rotate(45deg);
}

.customCheckbox:disabled {
  opacity: var(--opacity-disabled);
  cursor: not-allowed;
}

.customCheckbox:disabled:hover {
  border-color: var(--color-panel-border);
  box-shadow: none;
}
