.commentLoaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  min-height: 15vh;
}

.commentsList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  min-width: 0;
  width: 100%;
}

.noComments {
  text-align: center;
  color: var(--color-text-gray);
  font-size: var(--font-size-sm);
}
