.entityItemCard {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    min-width: 0;
    width: 18rem;
    position: relative;
}

.entityImageContainer {
    position: relative;
    width: 18rem;
    height: 18rem;
    flex-shrink: 0;
}

.entityImage {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-sm);
    object-fit: cover;
    aspect-ratio: 1 / 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: all var(--transition-speed) ease;
}

.entityInfo {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    min-width: 0;
    width: 100%;
}

.entityAuthor {
    font-size: var(--font-size-sm) !important;
    color: var(--color-text-gray) !important;
    font-weight: 500;
    transition: color var(--transition-speed) ease-in-out;
}

.entityAuthorLink:hover {
    color: var(--color-white) !important;
}

.entityTitle {
    font-size: var(--font-size-md);
    color: var(--color-white);
    font-weight: 500;
    transition: color var(--transition-speed) ease-in-out;
}

.entityTitle:hover {
    color: var(--color-red);
}

.entitySubtitle {
    font-size: var(--font-size-sm);
    color: var(--color-text-gray);
    font-weight: 500;
}

.entityTitle,
.entityAuthor,
.entitySubtitle,
.entitySubtitle {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
}

.entityActionButtonContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-md);
  background: rgba(0, 0, 0, 0.6);
  border-radius: var(--border-radius-sm);
  opacity: 0;
  visibility: hidden;
  transition: all var(--transition-speed) ease;
  z-index: 2;
}

.entityItemCard:hover .entityActionButtonContainer {
    opacity: 1;
    visibility: visible;
}

.entityActionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-panel-gray);
  border-radius: 50%;
  border: 2px solid var(--color-panel-border);
  color: var(--color-white);
  cursor: pointer;
  font-size: var(--icon-size-md);
  padding: var(--spacing-md);
  transition: all var(--transition-speed) ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.entityActionButton:hover {
    color: var(--color-red);
}

.entityActionButtonActive {
    color: var(--color-red);
}

.queueButtonContainer {
  position: relative;
}
