.searchLayout {
  display: flex;
  flex-direction: column;
  gap: var(--layout-gap-ver);
  min-height: 100%;
  position: relative;
}

.title {
  font-size: var(--font-size-2xl);
  color: var(--color-white);
  font-weight: 700;
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.countText {
  font-size: var(--font-size-sm);
  color: var(--color-text-gray);
}

.switcherContainer {
  display: flex;
  gap: var(--spacing-xl);
  align-items: center;
}

.switcherButton {
  font-family: var(--font-main);
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  border: none;
  background: none;
  color: var(--color-white);
  font-size: var(--font-size-md);
  font-weight: 500;
  transition: all var(--transition-speed) ease-in-out;
  cursor: pointer;
}

.switcherButton:hover {
  color: var(--color-accent);
  text-decoration: underline;
}

.switcherButtonActive {
  color: var(--color-accent);
  text-decoration: underline;
}

.noResults {
  font-size: var(--font-size-md);
  color: var(--color-text-gray);
  font-weight: 500;
  text-align: center;
}

.topResultSection {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  min-width: 0;
  width: 100%;
  margin-bottom: var(--spacing-lg);
}

.resultsSection {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  min-width: 0;
  width: 100%;
}

.sectionTitle {
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

.resultsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: var(--spacing-md);
}
