.formSubmitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
  padding: var(--spacing-md);
  background-color: var(--color-accent);
  color: var(--color-white);
  border: none;
  border-radius: var(--border-radius-md);
  font-family: var(--font-main);
  font-size: var(--font-size-md);
  font-weight: 500;
  cursor: pointer;
  transition: background-color var(--transition-speed) ease-in-out;
}

.formSubmitButton:hover:not(:disabled) {
  background-color: var(--color-accent-700);
}

.formSubmitButton:disabled {
  opacity: var(--opacity-disabled);
  cursor: not-allowed;
}
