.settingsDatePickerGroup {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.settingsDatePickerLabel {
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-text-gray);
}

.settingsDatePicker {
  font-family: var(--font-main);
  padding: var(--spacing-input);
  background-color: var(--color-panel-gray-dark);
  border: var(--border-size-sm) solid var(--color-panel-border);
  border-radius: var(--border-radius-sm);
  color: var(--color-white);
  font-size: var(--font-size-sm);
  width: 100%;
  cursor: pointer;
}

.settingsDatePicker::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.settingsDatePickerDisabled {
  opacity: var(--opacity-disabled);
  cursor: not-allowed;
}

.settingsDatePickerError {
  border-color: var(--color-accent);
}

.settingsDatePickerErrorText {
  font-size: var(--font-size-xs);
  color: var(--color-accent);
  font-weight: 500;
}

.settingsDatePickerHint {
  font-size: var(--font-size-xs);
  color: var(--color-text-gray);
  font-style: italic;
}
