.actionContainer {
  flex: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-panel-gray);
  border-radius: var(--border-radius-sm);
  border: var(--border-size-md) solid var(--color-panel-border);
  color: var(--color-white);
  cursor: pointer;
  font-size: var(--icon-size-md);
  padding: var(--spacing-md) 2.1rem;
  transition: color var(--transition-speed) ease-in-out;
}

.actionButton:hover {
  color: var(--color-accent);
}

.actionButtonActive {
  color: var(--color-accent);
}

.remixButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--remix-button-gradient);
  background-size: 200% 200%;
  background-position: 0% 50%;
  border-radius: var(--border-radius-sm);
  border: var(--border-size-md) solid var(--remix-button-border);
  color: var(--color-white);
  cursor: pointer;
  font-size: var(--icon-size-md);
  padding: var(--spacing-md) 2.1rem;
  transition: background-position 0.3s ease, border-color 0.3s ease;
  position: relative;
  overflow: hidden;
}

.remixButton:hover {
  background-position: 100% 50%;
  border-color: var(--remix-button-border-hover);
}

.queueButtonContainer {
  position: relative;
}

.remixButtonContainer {
  position: relative;
}
