.statsLayout {
  display: flex;
  flex-direction: column;
  gap: var(--layout-gap-ver);
  min-height: 100%;
  position: relative;
}

.statsTitle {
  font-size: var(--font-size-2xl);
  color: var(--color-white);
  font-weight: 700;
}

.lineChart {
  background-color: var(--color-panel-gray);
  border-radius: var(--border-radius-md);
  border: var(--border-size-md) solid var(--color-panel-border);
  padding: var(--spacing-md) var(--spacing-lg) var(--spacing-md) 0;
  width: 100%;
  height: 36rem;
}
