.playButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: var(--color-white);
  cursor: pointer;
  font-size: var(--icon-size-md);
  transition: color var(--transition-speed) ease-in-out;
  font-size: var(--font-size-4xl);
}

.playButton:hover {
  color: var(--color-accent);
}

.playButton:disabled {
  cursor: not-allowed;
  opacity: var(--opacity-disabled);
}

.playButtonActive {
  color: var(--color-accent);
}

.playButton svg {
  padding: 0;
}
