.settingsCheckbox {
  display: flex;
  gap: var(--spacing-sm);
}

.label {
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-text-gray);
}

.checkbox {
  appearance: none;
  width: 2rem;
  height: 2rem;
  background-color: var(--color-panel-gray-dark);
  border: var(--border-size-sm) solid var(--color-panel-border);
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
}

.checkbox:focus {
  outline: none;
}

.checkbox:checked {
  background-color: var(--color-panel-gray-dark);
  border-color: var(--color-panel-border);
}

.checkbox:checked::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0.375rem;
  height: 0.625rem;
  border: solid var(--color-white);
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -60%) rotate(45deg);
}

.checkboxDisabled {
  opacity: var(--opacity-disabled);
  cursor: not-allowed;
}

.checkboxError {
  border-color: var(--color-accent);
}

.errorText {
  font-size: var(--font-size-xs);
  color: var(--color-accent);
  font-weight: 500;
  line-height: var(--line-height-normal);
}

.hintText {
  font-size: var(--font-size-xs);
  color: var(--color-text-gray);
  font-style: italic;
  line-height: var(--line-height-normal);
}

.red {
  color: var(--color-red-ui);
}
