.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  min-height: var(--loader-height-sm);
}

.error {
  text-align: center;
  color: var(--color-text-gray);
  font-size: var(--font-size-sm);
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-md);
  background: var(--color-panel-gray);
  border-radius: var(--border-radius-md);
  border: var(--border-size-md) solid var(--color-panel-border);
  padding: var(--spacing-md);
  min-width: 0;
  width: 100%;
}

.aboutTitle {
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-weight: 500;
}

.monthlyListenersText {
  font-size: var(--font-size-md);
  color: var(--color-white);
  font-weight: 500;
}

.artistBio {
  font-size: var(--font-size-md);
  color: var(--color-text-gray);
  font-weight: 400;
  line-height: var(--line-height-normal);
}
