.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-overlay-bg);
  backdrop-filter: var(--overlay-blur);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: var(--animation-fade-in);
}

.modal {
  background: var(--color-panel-gray);
  border: var(--border-size-md) solid var(--color-panel-border);
  border-radius: var(--border-radius-md);
  width: 90%;
  max-width: 40rem;
  padding: var(--spacing-lg);
  box-shadow: var(--shadow-modal);
  animation: var(--animation-slide-in);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-white);
  margin: 0;
}

.closeButton {
  background: none;
  border: none;
  color: var(--color-text-gray);
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all var(--transition-speed) ease;
}

.closeButton:hover {
  color: var(--color-white);
}

.subtitle {
  font-size: var(--font-size-sm);
  color: var(--color-text-gray);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.label {
  font-size: var(--font-size-sm);
  color: var(--color-text-gray-light);
  margin-bottom: var(--spacing-xs);
}

.select,
.textarea {
  width: 100%;
  padding: var(--spacing-sm);
  border-radius: var(--border-radius-sm);
  background-color: var(--color-panel-gray-dark);
  border: 1px solid var(--color-panel-border);
  color: var(--color-white);
  font-size: var(--font-size-sm);
}

.select:focus,
.textarea:focus {
  outline: 1px solid var(--color-red);
}

.textarea {
  resize: none;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-md);
}

.cancelBtn,
.submitBtn {
  padding: var(--spacing-sm) var(--spacing-lg);
  border-radius: var(--border-radius-md);
  font-size: var(--font-size-sm);
  font-weight: 500;
  transition: background-color var(--transition-speed) ease-in-out;
}

.cancelBtn {
  background-color: var(--color-panel-gray-dark);
  color: var(--color-text-gray);
  border: 1px solid var(--color-panel-border);
}

.cancelBtn:hover {
  background-color: var(--color-panel-border);
}

.submitBtn {
  background-color: var(--color-red);
  color: var(--color-white);
  border: none;
}

.submitBtn:hover {
  background-color: var(--color-red-700);
}

.errorText {
  color: var(--color-red);
  font-size: var(--font-size-xs);
  text-align: center;
}