.commentsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  min-width: 0;
  width: 100%;
}

.error {
  text-align: center;
  color: var(--color-text-gray);
  font-size: var(--font-size-sm);
}

.noComments {
  text-align: center;
  color: var(--color-text-gray);
  font-size: var(--font-size-sm);
}

.commentsContainerTop {
  display: flex;
  gap: var(--spacing-md);
  align-items: center;
}

.commentUserPfp {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
}

.commentInputContainer {
  background-color: var(--color-panel-gray);
  border-radius: var(--border-radius-sm);
  border: 2px solid var(--color-panel-border);
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
}

.commentInput {
  font-family: "Inter", sans-serif;
  width: 96%;
  padding: var(--spacing-md);
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius-lg);
  color: var(--color-white);
  font-size: var(--font-size-sm);
  outline: none;
}

.commentInput::placeholder {
  color: var(--color-text-gray);
}

.commentButton {
  position: absolute;
  right: var(--spacing-sm);
  font-size: var(--icon-size-md);
  color: var(--color-text-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-red);
  border-radius: var(--border-radius-sm);
  border: none;
  color: var(--color-red-200);
  cursor: pointer;
  padding: var(--spacing-sm);
  transition: color var(--transition-speed) ease-in-out;
}

.commentButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.commentButton:not(:disabled):hover {
  color: var(--color-red-950) !important;
}

.commentLoaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  min-height: 15vh;
}

.commentsList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  min-width: 0;
  width: 100%;
}
