.artistLayout {
  display: flex;
  flex-direction: column;
  gap: var(--layout-gap-ver);
}

.artistLayoutBottom {
  display: flex;
  flex-direction: column;
  gap: var(--layout-gap-ver);
}

.artistLayoutBottomTop {
  display: grid;
  grid-template-columns: 2fr 0.75fr;
  column-gap: var(--layout-gap-hor);
}

.artistLayoutBottomLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.artistLayoutBottomRight {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  min-width: 0;
  width: 100%;
}

.sectionTitle {
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

.noDataContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.noDataText {
  font-size: var(--font-size-sm);
  color: var(--color-text-gray);
}
