.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  min-height: var(--loader-height-sm);
}

.error {
  text-align: center;
  color: var(--color-text-gray);
  font-size: var(--font-size-sm);
}

.noRecent {
  font-size: var(--font-size-md);
  color: var(--color-text-gray);
  font-weight: 500;
  text-align: center;
}

.recentContainer {
  display: flex;
  flex-direction: column;
  gap: var(--layout-gap-ver);
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  min-width: 0;
  width: 100%;
}

.sectionTitle {
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

.itemsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: var(--spacing-md);
}

.artistGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: var(--spacing-md);
}

.playlistContainer {
  position: relative;
  width: 18rem;
}

.pinnedIconContainer {
  position: absolute;
  top: var(--spacing-sm);
  right: var(--spacing-sm);
  background-color: var(--color-accent);
  border-radius: 50%;
  padding: var(--spacing-sm);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow-sm);
  pointer-events: none;
}

.pinnedIcon {
  color: var(--color-white);
  font-size: var(--font-size-md);
}
