.settingsInputGroup {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.settingsInputLabel {
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-text-gray);
}

.settingsInput {
  font-family: var(--font-main);
  padding: var(--spacing-input);
  background-color: var(--color-panel-gray-dark);
  border: var(--border-size-sm) solid var(--color-panel-border);
  border-radius: var(--border-radius-sm);
  color: var(--color-white);
  font-size: var(--font-size-sm);
  width: 100%;
}

.settingsInputDisabled {
  opacity: var(--opacity-disabled);
  cursor: not-allowed;
}

.settingsInputError {
  border-color: var(--color-accent);
}

.settingsInputErrorText {
  font-size: var(--font-size-xs);
  color: var(--color-accent);
  font-weight: 500;
}

.settingsInputHint {
  font-size: var(--font-size-xs);
  color: var(--color-text-gray);
  font-style: italic;
}
