.topResultSection {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  min-width: 0;
  width: 100%;
}

.sectionTitle {
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}
