.commentsLayout {
  display: flex;
  flex-direction: column;
  gap: var(--layout-gap-ver);
  min-height: 100%;
}

.commentsHeader {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xsd);
}

.commentsTitle {
  font-size: var(--font-size-2xl);
  color: var(--color-white);
  font-weight: 700;
}

.commentsSubtitle {
  font-size: var(--font-size-sm);
  color: var(--color-text-gray);
  margin: 0;
}
