.commentsLayout {
  display: flex;
  flex-direction: column;
  gap: calc(var(--layout-gap-ver) - var(--spacing-md));
  min-height: 100%;
}

.commentsTitle {
  font-size: var(--font-size-2xl);
  color: var(--color-white);
  font-weight: 700;
}

.commentsDescription {
  font-size: var(--font-size-sm);
  color: var(--color-text-gray);
  margin: 0;
}
