.userContainer {
  position: relative;
  display: flex;
  gap: var(--spacing-md);
  justify-content: space-between;
  flex: 1;
  padding: var(--spacing-lg);
  background: var(--container-gradient-bg);
  box-shadow: var(--shadow-sd);
  border-radius: var(--border-radius-sm);
  overflow: hidden;
  min-width: 0;
}

.userContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    65deg,
    var(--cover-gradient-color1) 0%,
    var(--cover-gradient-color2) 15%,
    transparent 35%
  );
  pointer-events: none;
  border-radius: var(--border-radius-sm);
}

.userInfoWrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing-lg);
}

.userImage {
  width: var(--container-image-size-sm);
  height: var(--container-image-size-sm);
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  box-shadow: var(--shadow-sd);
  transition: box-shadow var(--transition-speed) ease;
}

.userImageClickable {
  cursor: pointer;
}

.userImageClickable:hover {
  box-shadow: var(--shadow-sd-hover);
}

.userHeader {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  flex: 1;
}

.usernameContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-sd);
  min-width: 0;
}

.username {
  font-size: var(--font-size-container-title-sm);
  color: var(--color-white);
  font-weight: 600;
}

.userRoleIcon {
  font-size: var(--icon-size-md);
}

.artistLink {
  font-size: var(--font-size-sm);
  color: var(--color-white) !important;
  font-weight: 500;
  transition: all var(--transition-speed) ease-in-out;
}

.artistLink:hover {
  color: var(--color-accent) !important;
  text-decoration: underline;
}

.username,
.artistLink {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

.ownerButton {
  background: none;
  border: none;
  color: var(--color-text-gray);
  font-size: var(--icon-size-sm);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--transition-speed) ease;
  height: fit-content;
}

.ownerButton:hover {
  color: var(--color-white);
}
