.loaderContainer {
  display: flex;
  z-index: 9999;
  opacity: 0.8;
  padding: var(--spacing-sm) 0;
}

.error {
  color: var(--color-text-gray);
  font-size: var(--font-size-sm);
}

.userStats {
  display: flex;
  min-width: 0;
  gap: var(--spacing-sm);
}

.statItem {
  font-size: var(--font-size-sm);
  color: var(--color-text-gray-light);
  font-weight: 500;
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

.statsBullet {
  font-size: var(--font-size-sm);
  color: var(--color-text-gray-light);
  font-weight: 500;
}
