.header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  z-index: 50;
}

.headerNav {
  height: var(--header-height);
  background-color: var(--color-panel-gray);
  border-radius: var(--border-radius-md);
  border: var(--border-size-md) solid var(--color-panel-border);
  display: flex;
  align-items: center;
}

.navbarLink,
.navbarLinkActive {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  padding: 0 var(--spacing-md);
  color: var(--color-text-gray) !important;
  font-size: var(--font-size-sm);
  transition: color var(--transition-speed) ease-in-out;
}

.navbarLink:hover {
  color: var(--color-white) !important;
}

.navbarLinkActive {
  color: var(--color-white) !important;
}

.navIcon {
  font-size: var(--icon-size-sm);
}

/* Header Actions */
.headerActions {
  height: var(--header-height);
  background-color: var(--color-panel-gray);
  border-radius: var(--border-radius-md);
  border: var(--border-size-md) solid var(--color-panel-border);
  display: flex;
  align-items: center;
}

.notificationButtonWrapper {
  position: relative;
}

.unreadDot {
  position: absolute;
  top: 0;
  left: calc(50% + 0.2rem);
  width: 1rem;
  height: 1rem;
  background-color: var(--color-accent);
  border-radius: 50%;
}

.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--spacing-md);
  background: none;
  border: none;
  color: var(--color-text-gray) !important;
  cursor: pointer;
  border-radius: var(--border-radius-md);
  transition: color var(--transition-speed) ease-in-out;
  text-decoration: none;
}

.iconButton:hover {
  color: var(--color-white) !important;
}

.iconButtonActive {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--spacing-md);
  background: none;
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius-md);
  transition: color var(--transition-speed) ease-in-out;
  text-decoration: none;
  color: var(--color-white) !important;
}

.actionIcon {
  font-size: var(--icon-size-md);
}

/* Header shadow  */
.headerNav,
.searchContainer,
.headerActions {
  position: relative;
  box-shadow: var(--shadow-layout);
}

.headerNav::after,
.searchContainer::after,
.headerActions::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: inherit;
  pointer-events: none;
}

@media (max-width: 768px) {
  .nowPlayingInfo {
    max-width: 16rem;
  }

  .playlistButton {
    display: none;
  }

  .progressContainer {
    max-width: 40rem;
  }

  .navbarLink span,
  .navbarLinkActive span {
    display: none;
  }

  .nowPlayingBar {
    left: var(--spacing-sm);
  }
}

@media (max-width: 480px) {
  .headerActions {
    display: none;
  }
}
