.inputGroup {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.formLabel {
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-text-gray);
  padding-left: var(--spacing-2xs);
}

.input {
  font-family: "Inter", sans-serif;
  padding: 1.2rem;
  background-color: var(--color-panel-gray-dark);
  border: 2px solid var(--color-panel-border);
  border-radius: var(--border-radius-sm);
  color: var(--color-white);
  font-size: var(--font-size-sm);
  width: 100%;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--color-text-gray);
}

.input::placeholder {
  color: var(--color-text-gray);
}

.input:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.inputError {
  border-color: var(--color-red);
}

.inputErrorText {
  font-size: var(--font-size-xs);
  color: var(--color-red);
  padding-left: var(--spacing-2xs);
}

.inputHint {
  margin-top: calc(var(--spacing-xs) * -1);
}

.inputHintText {
  font-size: var(--font-size-xs);
  color: var(--color-text-gray);
  font-style: italic;
  padding-left: var(--spacing-2xs);
}
