.userLayout {
  display: flex;
  flex-direction: column;
  gap: var(--layout-gap-ver);
}

.userLayoutBottom {
  display: grid;
  grid-template-columns: 2fr 0.75fr;
  column-gap: var(--layout-gap-hor);
}

.userLayoutLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.userLayoutRight {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}
