.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  min-height: var(--loader-height-sm);
}

.error {
  text-align: center;
  color: var(--color-text-gray);
  font-size: var(--font-size-sm);
}

.followContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  gap: var(--spacing-md);
}

.noFollows {
  font-size: var(--font-size-md);
  color: var(--color-text-gray);
  font-weight: 500;
  text-align: center;
}

.followItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-sm);
}

.followAvatar {
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  box-shadow: var(--shadow-sd);
  cursor: pointer;
  transition: opacity var(--transition-speed) ease;
}

.followAvatar:hover {
  opacity: 0.8;
}

.followName {
  font-size: var(--font-size-md);
  color: var(--color-white);
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  cursor: pointer;
  transition: color var(--transition-speed) ease-in-out;
}

.followName:hover {
  color: var(--color-accent);
}
